In [1]:
import pandas as pd

In [2]:
import statistics

In [3]:
budgetdata=pd.read_csv('budget.csv')

In [4]:
budgetdata

      Date  Profit/Losses
0   Jan-10         867884
1   Feb-10         984655
2   Mar-10         322013
3   Apr-10         -69417
4   May-10         310503
..     ...            ...
81  Oct-16         102685
82  Nov-16         795914
83  Dec-16          60988
84  Jan-17         138230
85  Feb-17         671099

[86 rows x 2 columns]

In [15]:
months=list(budgetdata['Date'])

In [6]:
profit=list(budgetdata['Profit/Losses'])

In [17]:
type(months)

list

In [7]:
totprofit=sum(profit)

In [8]:
def pnlchg (old,new):
    return (new-old)

In [9]:
change_list=[]
for i in range(0,len(profit)-1):
    output=pnlchg(profit[i],profit[i+1])
    change_list.append(output)

In [10]:
avg_chg=round(statistics.mean(change_list),2)

In [11]:
avg_chg

-2315.12

In [12]:
min(change_list)

-2196167

In [13]:
max(change_list)

1926159

In [19]:
change_list.insert(0,0)

In [21]:
new=pd.DataFrame({'Date':months,'PnL':profit,'PnL Change':change_list})

In [ ]:
print("Financial Analysis ------------------" sep='\n')

In [ ]:
multiline_str = ("Financial Analysis" 
                 "------------------"
                 "Total Months:        ",len(months)
                 "Total PnL:          $", (totprofit)
                 "Average Change      $", (avg_chg)
                 "Greatest Increase in Profits:", (max(change_list))
                 "Greatest Decrease in Profits: ", (min(change_list))

In [ ]:
multiline_str = ("Financial Analysis" 
                 "------------------"
                 "Total Months:        ",len(months))

In [ ]:
print(multiline_str)